html,body {
	margin: 0;
	background-image: url("../img/background.jpg")
}

.center {
	display: flex;
	justify-content: center;
	align-items: center;
}

.header-img {
	padding-top: 50px;
	padding-bottom: 50px;
}

.header-nav > ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.header-nav .nav-item{
	margin-left: 45%;
	margin-right: 45%;
	text-align: center;
}

.carousel-cell{
	width: auto;
}

.carousel-cell > .item-video{
	width: 325px;
	margin: 0;
	padding: 0;
}

.title {
	padding-left: 10%;
	text-transform: uppercase;
}

.video-grid {
	text-align: center;
}

.video-grid > .item-video{
}

.video-grid > div {
}

.video-template {
	/* .video-template must serve as the parent for both a video and a play button element. */
}